<style>
    .box {
       width: 1500px;
       height: 120px;
       padding: 5px;
       border: 3px solid black ;
       margin: 10
       ;
    }
    </style>
    <br>
    <div class="box">
        <h2>Puttur Office</h2>
        <p>Opposite GL Complex, 6th cross, Puttur Tq, DK</p>
        <p><b>Phone number:</b>+91 9632669141</p>
    </div>
    <br>
    <div class="box">
        <h2>Mangalore Office</h2>
        <p>Opposite City Centre, 6th cross, Mangalore Tq, DK</p>
        <p><b>Phone number:</b>+91 9632669041</p>
    </div>
    <br>
    <div class="box">
        <h2>Sullia Office</h2>
        <p>Opposite Bus stand, 6th cross, Sullia Tq, DK</p>
        <p><b>Phone number:</b>+91 9632669091</p>
    </div><br>
    <div class="box">
        <h2>Subrahmanya Office</h2>
        <p>Opposite Bus stand, 6th cross, Kadaba Tq, DK</p>
        <p><b>Phone number:</b>+91 9631669091</p>
    </div><br>
    <div class="box">
        <h2>Bangalore Office</h2>
        <p>Malleshwara, 6th cross, Bangalore , DK</p>
        <p><b>Phone number:</b>+91 9832669091</p>
    </div><br>
    