<style>
    .box {
       width: 700px;
       height: 120px;
       padding: 5px;
       border: 2px solid black ;
       margin: 10px;
       align-items: centre;
       
    }
    
    </style>
    <br>
    <div *ngFor="let detail of details" class="box">
        <h2><b>Office Name:</b>{{detail.office}}</h2>
        <p><b>Address:</b>{{detail.address}}</p>
        <p><b>Mobile number:</b>{{detail.mobile_number}}</p>   
        <!-- <div class="dummy"></div> -->
       
    </div>