<div *ngIf="productDetails">
    <h1>{{ productDetails.title }}</h1>
  
    <form [formGroup]="productForm">
        
    
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" formControlName="title"  required>
    
        <label for="description">Description:</label>
        <textarea id="description" name="description" formControlName="description" required></textarea>
    
        <label for="price">Price:</label>
        <input type="text" id="price" name="price" formControlName="price" required>
    
        <label for="discount">Discount Percentage:</label>
        <input type="text" id="discount" name="discount" formControlName="discount" required>
    
        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating" formControlName="rating" required>
    
        <label for="stock">Stock:</label>
        <input type="text" id="stock" name="stock" formControlName="stock" required>
    
        <label for="brand">Brand:</label>
        <input type="text" id="brand" name="brand" formControlName="brand" required>
    
        <label for="category">Category:</label>
        <input type="text" id="category" name="category" formControlName="category" required>
    
        <label for="thumbnail">Thumbnail Image:</label>
        <!-- <img src="https://via.placeholder.com/150" alt="Thumbnail" style="max-width: 100%;"> -->
        <!-- <input type="text" id="thumbnail" name="thumbnail" formControlName="thumbnail" (change)="onFileChange($event)"> -->
        <img [src]="productForm.get('thumbnail').value" alt="Thumbnail" style="max-width: 100%;">
        
        <label for="images">Images:</label>
        <!-- <ul>
          <li><img src="https://via.placeholder.com/50" alt="Product Image"></li>
          <li><img src="https://via.placeholder.com/50" alt="Product Image"></li>
          
        </ul> -->
        <img [src]="productForm.get('image').value" alt="images" style="max-width: 50%;"><br>
        <button style="background-color: red;" (click)="deleteDetails(id)">Delete</button>
        
    
        <button style="background-color: blue;" onClick=history.back()>Back</button>
      </form>
      </div>